.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 10%;
  gap: 30px;
  width: 100%;
  font-family: "Gontserrat";

  .contact-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;

    .contact-container {
      display: flex;
      padding: 15px;
      width: 100%;
      gap: 15px;
      justify-content: space-evenly;

      .contact-info-container {
        flex: 1;
        max-width: 500px;
        background: #ffffff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

        h2 {
          font-size: 2rem;
          color: #295a2d;
          margin-bottom: 20px;
        }

        .info-card {
          display: flex;
          align-items: center;
          background: #eeeeee;
          padding: 15px;
          margin-top: 20px;
          border-radius: 10px;
          transition: transform 0.3s ease;

          &:hover {
            transform: scale(1.01);
          }

          .icon {
            font-size: 2rem;
            color: #295a2d;
            margin-right: 20px;
          }

          h3 {
            font-size: 1.2rem;
            font-weight: 400;
            margin-bottom: 5px;
          }

          a {
            color: #295a2d;
            text-decoration: none;
            font-size: 1.1rem;
            transition: all 0.3s;

            &:hover {
              color: #438423;
            }
          }
        }
      }

      /* Contact Form */
      .contact-form-container {
        flex: 1;
        max-width: 500px;
        background: #ffffff;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

        h2 {
          font-size: 2rem;
          color: #295a2d;
          margin-bottom: 20px;
        }

        .contact-form {
          display: flex;
          flex-direction: column;
          gap: 15px;

          input,
          textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #295a2d;
            border-radius: 5px;
            font-size: 1rem;
            outline: none;
          }

          button {
            background: #295a2d;
            color: #fff;
            padding: 12px;
            font-size: 1.2rem;
            border-radius: 5px;
            border: 1px solid #295a2d;
            cursor: pointer;
            transition: all 0.3s;

            &:hover {
              background: #bee9b2;
              color: #295a2d;
            }
          }
        }
      }
    }
  }

  /* 📌 Responsive */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      align-items: center;
    }
  }
}
