*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gontserrat";
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: #295a2d;
  border-radius: 50px;
  height: 50px;
}

::-webkit-scrollbar-track {
  background: #438423;
}

.cta-button {
  font-family: "Gontserrat";
  font-weight: 500;
  font-size: 1rem;
  padding: clamp(10px, 2vw, 12px) clamp(24px, 2vw, 30px);
  background: #295a2d;
  color: #fff;
  border: 1px solid #295a2d;
  cursor: pointer;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;

  &.primary {
    background: #295a2d;
    color: #fff;
    border-color: #295a2d;
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;
      background: #bee9b2;
      color: #295a2d;
    }

    &:active {
      scale: 0.99;
    }
  }

  &.secondary {
    transition: all 0.3s ease-in-out;
    background: transparent;
    color: #295a2d;
    border-color: #295a2d;

    &:hover {
      transition: all 0.3s ease-in-out;
      background: #bee9b2;
    }

    &:active {
      scale: 0.99;
    }
  }
}

@font-face {
  font-family: "Gontserrat";
  src: url("./assets/fonts/Gontserrat-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gontserrat";
  src: url("./assets/fonts/Gontserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gontserrat";
  src: url("./assets/fonts/Gontserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gontserrat";
  src: url("./assets/fonts/Gontserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gontserrat";
  src: url("./assets/fonts/Gontserrat-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gontserrat";
  src: url("./assets/fonts/Gontserrat-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
