*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('./assets/fonts/Gontserrat-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('./assets/fonts/Gontserrat-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('./assets/fonts/Gontserrat-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('./assets/fonts/Gontserrat-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('./assets/fonts/Gontserrat-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Gontserrat';
  src: url('./assets/fonts/Gontserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
